@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background: rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	left: 0%;
	right: 0%;
	margin: 0px;
	width: 100%;
	z-index: 500;
}

li {
    position: sticky;
	
	float: left;
/*	background: rgba(255,255,255,0.5);*/
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 40px;
    font-size: 1.4em;
/*	background:rgba(255,255,255,0.5);*/
}

li a:hover:not(.active) {
     font-style: bold;
  transform: scale(1.5);

}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    min-width: 160px;
   box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2)
}

.dropdown-content a {
    color: white;
    padding: 7px 9px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}
.active{
    transform: #;}
#logo {
    max-height: 105px;
    max-width: 165px;
    position: sticky;
}