h1{
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-size: 32;
}
p{
    color: white;
    font-size: 24px;
    font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    margin-left:2cm;
    margin-right:2cm;
    
}