@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);
body{
background-image: url(https://resnicklab.files.wordpress.com/2012/05/total_sombrero_no_background.jpg);
background-size: cover;
    background-repeat: repeat;
 font-family: 'Raleway', sans-serif;
font-size: 20px;
    color: white;
}
h1{
  text-align: center;
  font-family: 'Raleway', sans-serif;
 font-size: 70px;
 line-height: 100px;
 color: white;
 position: relative;
 top: 40px;
}
h2{
font-family: 'Cabin', Helvetica, Arial, sans-serif;
color: white;
text-align: center;
}

.box{
background: rgba(160,160,160,0.6);
margin-right: 70px;
 margin-left: 70px;
}
p { 
color:white;
margin-left: 3cm;
margin-right: 3cm;
}
a{
    color:skyblue;
}
h3{
     text-align: center;
  font-family: 'Raleway', sans-serif;
 line-height: 100px;
font-weight: bold;
     font-size: 100px;
 color: white;
 position: relative;
 top: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background: rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	left: 0%;
	right: 0%;
	margin: 0px;
	width: 100%;
	z-index: 500;
}

li {
    position: sticky;
	
	float: left;
/*	background: rgba(255,255,255,0.5);*/
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 40px;
/*	background:rgba(255,255,255,0.5);*/
}

li a:hover:not(.active) {
     font-style: bold;
  transform: scale(1.5);

}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    min-width: 160px;
   box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2)
}

.dropdown-content a {
    color: white;
    padding: 7px 9px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    transform: #;
}
#logo{
	max-height: 105px;
	max-width: 165px;
	position: sticky;
}
#particles-js
{width:100%;height:100%;position:fixed;z-index:-10;top:0;left:0}